<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ selectedItem.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.title}}
  </h3>
  <div style="text-align: center;">
      <img [src]="selectedItem.image" *ngIf="selectedItem.image"/>
  </div>
  <h4 text-left style="margin: 10px;" *ngIf="selectedItem" [innerHTML]="selectedItem.text">
  </h4>
</ion-content>
